/* Aggiungi questo CSS alla fine del tuo file CSS */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

/* Nascondi la barra di scorrimento */
body::-webkit-scrollbar {
  display: none;
}

/* Nascondi la barra di scorrimento per tutti gli elementi */
* {
  -ms-overflow-style: none;  /* IE e Edge */
  scrollbar-width: none;  /* Firefox */
}

.footer {
  background-color: black;
  font-family: "Linked Now Extrabold";
  color: limegreen;
  padding: 10px 30px;
  font-size: 1.8rem;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100vw;
  position: relative;
  bottom: 0;
  display: flex;
  border-top: 2px solid limegreen;
  justify-content: space-between; /* Distribuisce lo spazio tra le sezioni di sinistra e destra */
  align-items: center; /* Allinea gli elementi verticalmente al centro */
  box-sizing: border-box;
  overflow-x: hidden;
}

/* Testo Footer - Sezione Sinistra */
.footer-left {
  text-align: left;
  line-height: 30px;
}

.footer-left p,
.footer-left a {
  margin: 5px 0;
  text-align: left;
}

/* Icone Social - Sezione Destra */
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}

/* Testo FOLLOW US */ 
.footer-followUs {
  font-size: 2rem;
  font-family: "Linked Now Extrabold";
  color: limegreen;
  text-transform: uppercase;
  text-align: right;
  margin: 0; /* rimuove margini per un posiziomamento preciso */
}

.footer-socialIcons {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.footer .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: 2px solid limegreen;
  border-radius: 50%;
  color: limegreen;
  font-size: 2rem;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.footer .icon:hover {
  background-color: limegreen;
  color: black;
  transform: scale(1.1);
}

/* Logo */
.footer-logoGrooving {
  font-size: 3rem;
  font-family: "Linked Now Extrabold";
  margin-top: 20px;
  margin-bottom: 30px;
  color: limegreen; 
}

/* Email */
.footer-email {
  font-size: 1.2rem;
  font-family: "MusticaPro-SemiBold";
  color: limegreen; 
  text-decoration: none; 
}

/* CAP e comune */
.footer-capComune {
  font-size: 1.2rem;
  font-family: "MusticaPro-SemiBold";
  margin-top: 5px;
  color: limegreen; 
}

/* Copyrights */
.footer-copyrights {
  font-size: 1rem;
  font-family: "MusticaPro-SemiBold";
  margin-top: 20px;
  color: limegreen; 
}

/* Modalità responsive */
@media screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    padding: 15px;
  }

  .footer-left,
  .footer-right {
    text-align: center;
  }

  .footer .icon {
    width: 30px;
    height: 30px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    font-size: 0.8rem;
  }

  .footer .icon {
    width: 25px;
    height: 25px;
    font-size: 0.9rem;
  }
}