/* Reset generale */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Font face per i caratteri */
@font-face {
  font-family: "Linked Now Extrabold";
  src: url("https://db.onlinewebfonts.com/t/7fbd15959f7d4eab13062af29b568605.eot");
  src: url("https://db.onlinewebfonts.com/t/7fbd15959f7d4eab13062af29b568605.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7fbd15959f7d4eab13062af29b568605.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/7fbd15959f7d4eab13062af29b568605.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/7fbd15959f7d4eab13062af29b568605.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/7fbd15959f7d4eab13062af29b568605.svg#Linked Now Extrabold") format("svg");
}

@font-face {
  font-family: "MusticaPro-SemiBold";
  src: url("https://db.onlinewebfonts.com/t/8784ec149f84f77ada651e2dd98e0943.eot");
  src: url("https://db.onlinewebfonts.com/t/8784ec149f84f77ada651e2dd98e0943.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/8784ec149f84f77ada651e2dd98e0943.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/8784ec149f84f77ada651e2dd98e0943.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/8784ec149f84f77ada651e2dd98e0943.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/8784ec149f84f77ada651e2dd98e0943.svg#MusticaPro-SemiBold") format("svg");
}

/* Corpo e HTML */
body,
html {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/* Contenitore principale */
.home-container {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
  position: relative;
}

/* Sezione video di sfondo */
.video-section {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.video-background .video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Contenitore per il logo, il motto e il pulsante */
.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.logoHome {
  font-size: 6rem !important;
  font-family: "Linked Now Extrabold";
  color: limegreen;
  margin-bottom: 10px;
}

.mottoHome {
  font-size: 1.8rem;
  font-family: "MusticaPro-SemiBold";
  margin-bottom: 30px;
}

.show-events-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-family: "MusticaPro-SemiBold";
  color: white;
  border: 2px solid limegreen;
  border-radius: 30px;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.show-events-button:hover {
  background: darkgreen;
}

/* Contenitore per la sezione eventi */
.home-event-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 5%;
  gap: 20px;
}

/* Titolo "UPCOMING EVENTS" */
.home-event-section-title {
  font-size: 6rem;
  font-family: "Linked Now Extrabold";
  color: limegreen;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 2px;
}

/* Evento più prossimo */
.home-single-event {
  display: flex;
  flex-direction: row; /* Disposizione orizzontale: locandina e dettagli affiancati */
  align-items: center;
  justify-content: center;
  background: black;
  padding: 20px;
  border-radius: 15px;
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  gap: 20px; /* Spaziatura tra locandina e dettagli */
}

.home-event-image-large {
  width: 40%; /* La locandina occupa il 40% della larghezza totale */
  max-width: 400px; /* Limite massimo di larghezza */
  height: auto;
  object-fit: cover; /* Mantiene le proporzioni */
  border-radius: 15px;
  margin: 0;
}

/* Dettagli dell'evento */
.home-event-info-large {
  width: 60%; /* I dettagli occupano il 60% della larghezza */
  text-align: right; /* Allineamento a destra per i testi */
  font-family: "MusticaPro-SemiBold";
  margin: 0 auto;
}

.home-event-info-large h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-family: "Linked Now Extrabold";
  color: limegreen;
  margin-bottom: 30px;
}

.home-event-info-large p {
  font-size: 1.3rem;
  margin-bottom: 10px;
  line-height: 1.5;
  text-transform: uppercase;
}

.eventHome-buy-tickets-button {
  margin-top: 40px;
}

.home-buy-tickets-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 1.2rem;
  font-family: "MusticaPro-SemiBold";
  color: white;
  border: 2px solid limegreen;
  border-radius: 30px;
  background-color: transparent;
  transition: all 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

.home-buy-tickets-button:hover {
  background-color: darkgreen;
}

/* Modalità responsiva */
@media (max-width: 768px) {
  .logoHome {
    font-size: 3rem;
  }

  .mottoHome {
    font-size: 1.2rem;
  }

  .show-events-button {
    padding: 10px 20px;
  }

  .home-event-section-title {
    font-size: 2.5rem;
  }

  .home-single-event {
    flex-direction: column; /* Disposizione verticale su schermi piccoli */
    align-items: center;
    gap: 20px; /* Aggiunta di spazio tra locandina e dettagli */
  }

  .home-event-image-large {
    width: 80%; /* Espandi la locandina su schermi piccoli */
    max-width: 400px;
  }

  .home-event-info-large {
    width: 100%; /* Le informazioni occupano l'intera larghezza */
    text-align: center; /* Centra il contenuto */
  }

  .home-event-info-large h2 {
    font-size: 2rem;
  }

  .home-event-info-large p {
    font-size: 1rem;
  }

  .home-buy-tickets-button {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .logoHome {
    font-size: 2rem;
  }

  .mottoHome {
    font-size: 1rem;
  }

  .show-events-button {
    padding: 8px 16px;
    font-size: 0.9rem;
  }

  .home-event-section-title {
    font-size: 2rem;
  }

  .home-event-info-large h2 {
    font-size: 1.5rem;
  }

  .home-event-info-large p {
    font-size: 0.9rem;
  }

  .home-buy-tickets-button {
    padding: 8px 18px;
    font-size: 0.9rem;
  }
}